* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Times New Roman", Times, serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: rgb(0, 125, 129);
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: rgb(244, 242, 247);
  font-family: "McLaren", cursive;
  font-weight: 200;
}

footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 0rem;
}

footer p {
  color: rgb(150, 197, 197);
}
.note {
  background: rgb(68, 57, 129);
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
  color: yellow;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: white;
}
